*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: fantasy;
}

p{
    margin-bottom: 30px;
    font-size: large;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 500px;
}

.search-box{
    padding: 40px;
    display: 
}





.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}