*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin-bottom: 30px;
    font-size: large;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 500px;
}

.search-box{
    padding: 40px;
    display: flex;
    flex-direction: column;
    background:lightgray ;
    box-shadow: 0 5px 20px;
    border-radius: 15px;
    position:relative;
    opacity: 0.5;;
    
}

form input {
    padding: 15px;
    border: 5;
    margin-bottom: 30px;
    border-radius: 10px;
    min-width: 300px; 

}

.btn{
    background-color: aqua;
    border: none;
    color: black;
    padding: 7px 22px;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    min-height: 45px;
    cursor: pointer;
    border-radius: 5px;
    border: 5;
}

.btn hover{
    background-color: blue;
}




.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}